/* Place custom styles below */
#siteCreationContainer{ margin: 50px 0 0 0;}
#siteCreationContainer input[type=text],#siteCreationContainer textarea,#siteCreationContainer select{ width: 350px; }
#siteCreationContainer span.required{ color: red;margin: 0 0 0 5px;}

/* To hide close button in jquery ui dialog*/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.progress-steps {
    background: #fff;
    color: #000;
}
.progress-steps ul{ display: block;padding: 0;margin: 0;}
.progress-steps ul li{ display: block;height: 40px;}
.progress-steps ul li .status-icon {
    display: inline-block;
    height: 25px;
    width: 26px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
}
.progress-steps ul li .status-title {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
}
.progress-steps ul li.status-success .status-title {
    font-weight: bold;
}
.progress-steps ul li.status-pending .status-icon{
    background-image: url("../Images/wait-step.png");
    background-position: 5px 7px;    
}
.progress-steps ul li.status-inProgress .status-icon{
    background-image: url("/_layouts/15/images/gears_anv4.gif?rev=43");
    
}
.progress-steps ul li.status-success .status-icon{
    background-image:  url("../Images/tick.png");
}
.progress-steps ul li.status-failed .status-icon{
    background-image:  url("../Images/error.png");
    background-position: center center;
}
.progress-steps ul li.status-failed .status-title{
    color:red;
}

/*jquery ui override*/
.ui-dialog .ui-dialog-titlebar-close{
    min-width:inherit;
}




.provisioning-app.bs {
    @import './bootstrap/bootstrap.min';
}
